<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>neoboy</key>
	<dict>
		<key>attributes</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>init_value</key>
				<integer>0</integer>
				<key>depends</key>
				<array/>
			</dict>
			<key>step</key>
			<dict>
				<key>init_value</key>
				<integer>10</integer>
				<key>depends</key>
				<array>
					<string>direction</string>
				</array>
			</dict>
			<key>position_x</key>
			<dict>
				<key>init_value</key>
				<integer>20</integer>
				<key>depends</key>
				<array>
					<string>direction</string>
				</array>
			</dict>
			<key>position_y</key>
			<dict>
				<key>init_value</key>
				<integer>30</integer>
				<key>depends</key>
				<array>
					<string>direction</string>
				</array>
			</dict>
		</dict>
		<key>installed_items</key>
		<array>
			<string>weapon</string>
		</array>
		<key>inbag_items</key>
		<array>
			<string>weapon</string>
		</array>
		<key>sprites</key>
		<array>
			<string>KOTR_Braford.png</string>
		</array>
		<key>actions</key>
		<array>
			<string>walk</string>
			<string>walkup</string>
			<string>walkdown</string>
			<string>walkleft</string>
			<string>walkright</string>
			<string>attack</string>
			<string>defense</string>
			<string>fall</string>
			<string>faint</string>
			<string>magic</string>
		</array>
	</dict>
	<key>neogirl</key>
	<dict>
		<key>attributes</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>init_value</key>
				<integer>0</integer>
				<key>depends</key>
				<array/>
			</dict>
			<key>step</key>
			<integer>0</integer>
			<key>position_x</key>
			<integer>0</integer>
			<key>position_y</key>
			<integer>0</integer>
		</dict>
		<key>installed_items</key>
		<array>
			<string>weapon</string>
		</array>
		<key>inbag_items</key>
		<array>
			<string>weapon</string>
		</array>
		<key>sprites</key>
		<array/>
		<key>actions</key>
		<array>
			<string>walkup</string>
			<string>walkdown</string>
			<string>walkleft</string>
			<string>walkright</string>
			<string>attack</string>
			<string>defense</string>
			<string>fall</string>
			<string>faint</string>
			<string>magic</string>
		</array>
	</dict>
</dict>
</plist>
